<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-brand">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Droga", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Mantenimiento
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Empleados/Index">Empleados</a></li>
                            <li><a href="~/Departamentos/Index">Departamentos</a></li>
                            <li><a href="~/Cargos/Index">Cargos</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Procesos
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/">Calculo Nomina</a></li>
                            <li><a href="~/Salidas/Index">Salida Empleados</a></li>
                            <li><a href="~/Vacaciones/Index">Vacaciones</a></li>
                            <li><a href="~/Permisos/Index">Permisos</a></li>
                            <li><a href="~/Licencias/Index">Licencias</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Informes
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Empleados/Index">Nominas</a></li>
                            <li><a href="~/Empleados/Index">Empleados Activos e Inactivos</a></li>
                            <li><a href="~/Departamentos/Index">Departamentos</a></li>
                            <li><a href="~/Cargos/Index">Cargos</a></li>
                            <li><a href="~/Empleados/Index">Entrada y Salida Empleados por Mes</a></li>
                            <li><a href="~/Permisos/Index">Permisos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>